:root{
  background: #cfe8fc;
}

.Game{
  margin: 40px;
    padding-bottom : 40px;
    padding-right:20px;
    padding-left:20px;
    background-color: white;
    justify-content: space-around;
}
.symbol2{
  background-image: url('./img/round.png');
 
}

.symbol1{
  background-image: url('./img/close.png');
 
}
.board{
  
  text-align: center;
}
.board Block{
  justify-content: space-evenly;
  text-align: center;
}
p{
  background: black;
  color:white;
  width: max-content;
  height:max-content;
  padding:20px;
  margin-left: 43%;
  font-size:20px;
}